Source URL: https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand/ios/minimum-requirements

이 페이지는 Cloud Translation API [https://cloud.google.com/translate/?hl=ko]를 통해 번역되었습니다.
홈 [https://developers.google.com/?hl=ko]
제품 [https://developers.google.com/products?hl=ko]
Google Maps Platform [https://developers.google.com/maps?hl=ko]
Mobility Services [https://developers.google.com/maps/documentation/mobility?hl=ko]
Driver experience [https://developers.google.com/maps/documentation/mobility/driver-sdk?hl=ko]
On-demand trips [https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand?hl=ko]
iOS 드라이버 SDK [https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand/ios/minimum-requirements?hl=ko]
드라이버 SDK 가져오기
이 섹션에서는 시스템이 최소 요구사항을 충족하는지 확인하고, Workspace Group을 설정하고, Driver SDK를 가져오는 방법을 설명합니다.
시작하기 전에
iOS용 Driver SDK를 사용하려면 앱이 다음 기준을 충족해야 합니다.
Navigation SDK가 있어야 합니다.
Google Cloud 콘솔에서 iOS용 Maps SDK를 사용 설정하고 API 키를 가져옵니다.
최소 시스템 요구사항 확인하기
사용 중인 Driver SDK 버전의 최소 요구사항은 출시 노트를 확인하세요. 출시 노트 [https://developers.google.com/maps/documentation/mobility/services/resources/relnotes_driver_sdk_ios?hl=ko]를 참고하세요.
휴대기기에서 iOS 14 이상을 실행해야 합니다.
Apple Xcode [https://developer.apple.com/xcode/] 버전 15 이상
Google Workspace에 액세스하기
Google Workspace 고객인 경우 다음 단계를 수행하세요.
작업공간 그룹을 만듭니다. 자세한 내용은 Workspace Group [https://support.google.com/a/answer/33329?hl=ko]을 참고하세요.
예를 들어 온보딩 중에 그룹 이름을 google-maps-platform-sdk-users@workspacedomain.com로 지정하는 것이 좋습니다.
Google에 이름을 제공하여 올바른 CocoaPods 저장소에 대한 액세스 권한을 부여하는 허용 목록에 Workspace 그룹을 추가합니다.
액세스 권한이 필요한 사용자 이메일과 서비스 계정 이메일이 이 목록에 포함되어 있는지 확인합니다.
조직에서 Workspace 그룹을 만들 수 없는 경우 이러한 아티팩트에 액세스해야 하는 사용자 및 서비스 계정 이메일 목록을 Google에 전송하세요.
참고: Workspace 그룹은 @googlegroups.com로 끝나는 Google 그룹과 다릅니다. Workspace 그룹만 지원됩니다.
Cloud SDK로 로그인
로컬 개발의 경우 Cloud SDK로 로그인합니다. 자세한 내용은 gcloud CLI 설치 [https://cloud.google.com/sdk/docs/install?hl=ko]를 참고하세요.
다음 예에서는 Cloud SDK로 로그인하는 방법을 보여줍니다.
Workspace 그룹의 구성원인 이메일을 사용해야 합니다.
자동화 호스트 설정
빌드 시스템 또는 지속적 통합의 경우 서비스 계정을 사용하여 Google API 및 서비스에 인증하는 제공된 방법 목록에 따라 자동화 호스트를 설정합니다. 자세한 내용은 Google 인증 방법 페이지의 서비스 계정 섹션 [https://cloud.google.com/docs/authentication/production?hl=ko#best_practices]을 참고하세요.
프로세스가 Google Cloud 환경 내에서 실행되는 경우 자동 사용자 인증 정보 감지를 사용합니다. 자세한 내용은 자동 사용자 인증 정보 감지 [https://cloud.google.com/docs/authentication/production?hl=ko#automatically]를 참고하세요.
그렇지 않으면 서비스 계정 키 파일을 호스트의 파일 시스템에 있는 보안 위치에 저장하고 GOOGLE_APPLICATION_CREDENTIALS 환경 변수를 적절하게 설정합니다. 자세한 내용은 GOOGLE_APPLICATION_CREDENTIALS [https://cloud.google.com/docs/authentication/production?hl=ko#passing_variable]를 참고하세요.
인증 정보와 연결된 서비스 계정 이메일이 Workspace 그룹의 구성원이어야 합니다.
Driver SDK 가져오기
Driver SDK를 설치하고 구성합니다.
Apple 개인 정보 보호 매니페스트 파일 검사
Apple은 App Store에 있는 앱의 앱 개인정보 보호 세부정보를 요구합니다. 업데이트 및 자세한 내용은 Apple App Store 개인 정보 보호 세부정보 페이지 [https://developers.google.com/maps/documentation/ios-sdk/apple-privacy-policy?hl=ko]를 참고하세요.
Apple 개인 정보 보호 매니페스트 파일은 SDK의 리소스 번들에 포함되어 있습니다. 개인 정보 매니페스트 파일이 포함되었는지 확인하고 콘텐츠를 검사하려면 앱의 보관 파일을 만들고 보관 파일에서 개인 정보 보고서를 생성 [https://developer.apple.com/documentation/bundleresources/privacy_manifest_files/describing_data_use_in_privacy_manifests#4239187]하세요.
다음 단계
Google Cloud 콘솔 프로젝트 구성 [https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand/ios/configure-project?hl=ko]