Source URL: https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand/android/minimum-requirements

이 페이지는 Cloud Translation API [https://cloud.google.com/translate/?hl=ko]를 통해 번역되었습니다.
홈 [https://developers.google.com/?hl=ko]
제품 [https://developers.google.com/products?hl=ko]
Google Maps Platform [https://developers.google.com/maps?hl=ko]
Mobility Services [https://developers.google.com/maps/documentation/mobility?hl=ko]
Driver experience [https://developers.google.com/maps/documentation/mobility/driver-sdk?hl=ko]
On-demand trips [https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand?hl=ko]
Android 드라이버 SDK [https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand/android/minimum-requirements?hl=ko]
드라이버 SDK 가져오기
시작하기 전에 시스템이 최소 요구사항을 충족하는지 확인하고 환경에서 Driver SDK를 사용할 수 있도록 합니다.
최소 시스템 요구사항 확인하기
사용 중인 Driver SDK 버전의 최소 요구사항은 출시 노트 [https://developers.google.com/maps/documentation/mobility/services/resources/relnotes_driver_sdk_android?hl=ko]를 참고하세요.
Driver SDK를 사용하려면 앱이 minSdkVersion 23 이상을 타겟팅해야 합니다.
Driver SDK를 사용하는 앱을 실행하려면 Android 모바일 기기가 다음 최소 요구사항을 충족해야 합니다.
Android 6.0 (API 수준 23) 이상을 실행합니다.
Google Play 서비스 [https://developers.google.com/android/guides/overview?hl=ko]가 설치되어 있어야 합니다.
Navigation SDK가 설치되어 있어야 합니다.
Driver SDK 가져오기
Google Maven 저장소에서 Driver SDK 버전 4.99 이상을 가져옵니다.
다음 단계
Google Cloud 콘솔 프로젝트 구성 [https://developers.google.com/maps/documentation/mobility/driver-sdk/on-demand/android/configure-project?hl=ko]