Source URL: https://developers.google.com/workspace/gmail/ampemail/security-requirements

이 페이지는 Cloud Translation API [https://cloud.google.com/translate/?hl=ko]를 통해 번역되었습니다.
Switch to English
홈 [https://developers.google.com/?hl=ko]
Google Workspace [https://developers.google.com/workspace?hl=ko]
Gmail [https://developers.google.com/workspace/gmail?hl=ko]
가이드 [https://developers.google.com/workspace/gmail/api/guides?hl=ko]
의견 보내기
보안 요구사항
bookmark_border
이 페이지의 내용
발신자 인증
DKIM 정렬
TLS 암호화
HTTP 프록시
CORS 헤더
제한사항
사용자 안전 및 개인 정보 보호를 위해 동적 이메일에는 추가 보안 요구사항 및 제한사항이 적용됩니다.
경고: 이를 준수하지 않으면 동적 이메일의 일부가 올바르게 렌더링되지 않거나 Gmail이 HTML로 대체되어 이메일의 AMP 부분이 전혀 렌더링되지 않습니다.
발신자 인증
AMP 이메일의 발신자가 적법한지 확인하기 위해 AMP가 포함된 이메일에는 다음과 같은 검사가 적용됩니다.
이메일이 DKIM (Domain Keys Identified Mail) 인증 [https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail]을 통과해야 합니다.
DKIM 인증 서명 도메인은 From 필드의 이메일 도메인과 일치해야 합니다. 아래의 DKIM 정렬 [https://developers.google.com/workspace/gmail/ampemail/security-requirements?hl=ko#dkim_alignment]을 참고하세요.
이메일이 SPF (Sender Policy Framework) 인증 [https://en.wikipedia.org/wiki/Sender_Policy_Framework]을 통과해야 합니다.
또한 이메일 발신자는 처리가 quarantine 또는 reject로 설정된 DMARC (Domain-based Message Authentication, Reporting and Conformance) 정책 [https://en.wikipedia.org/wiki/DMARC]을 사용하는 것이 좋습니다. 향후 이 조치가 시행될 수 있습니다.
DKIM, SPF, DMARC는 Gmail 웹의 '원본 표시' 메뉴 옵션 내에 각각 별도의 행으로 표시됩니다. 자세한 내용은 Gmail 메일이 인증되었는지 확인하는 방법 [https://support.google.com/mail/answer/180707?hl=ko]을 참고하세요.
DKIM 정렬
DKIM 인증이 '일치'한다고 간주되려면 하나 이상의 DKIM 인증 서명 도메인의 조직 도메인이 From 헤더의 이메일 주소의 조직 도메인과 동일해야 합니다. 이는 DMARC 사양 RFC7489 섹션 3.1.1 [https://tools.ietf.org/html/rfc7489#section-3.1.1]에 정의된 완화된 DKIM 식별자 일치와 같습니다.
조직 도메인은 RFC7489 섹션 3.2 [https://tools.ietf.org/html/rfc7489#section-3.2]에 정의되어 있으며 도메인의 'eTLD+1' 부분이라고도 합니다. 예를 들어 foo.bar.example.com 도메인의 조직 도메인은 example.com입니다.
DKIM 인증 서명 도메인은 DKIM 서명의 d= 태그 값을 나타냅니다.
예를 들어 확인된 DKIM 서명이 d=foo.example.com로 성공적으로 확인되면 From 헤더에 있는 경우 bar@foo.example.com, foo@example.com, foo@bar.example.com가 모두 일치하는 것으로 간주되지만 gmail.com가 example.com와 일치하지 않으므로 user@gmail.com는 일치하지 않는 것으로 간주됩니다.
TLS 암호화
전송 중에 AMP 이메일의 콘텐츠가 암호화되도록 하려면 AMP가 포함된 이메일을 TLS 암호화 [https://en.wikipedia.org/wiki/Transport_Layer_Security]해야 합니다.
Gmail의 아이콘은 이메일이 TLS 암호화로 전송되었는지 여부를 나타냅니다. 자세한 내용은 수신 메일이 암호화되었는지 확인하기 [https://support.google.com/mail/answer/6330403?hl=ko]를 참고하세요.
HTTP 프록시
AMP 이메일에서 발생하는 모든 XMLHttpRequest (XHR)는 프록시됩니다. 이는 사용자의 개인 정보를 보호하기 위한 조치입니다.
참고: 프록시로 인해 XHR 요청에는 쿠키가 포함되지 않습니다. 인증을 제공하는 방법에 관한 자세한 내용은 이메일용 AMP에서 요청 인증 [https://developers.google.com/workspace/gmail/ampemail/authenticating-requests?hl=ko]을 참고하세요.
CORS 헤더
amp-list 및 amp-form에서 사용하는 모든 서버 엔드포인트는 이메일용 AMP의 CORS [https://amp.dev/documentation/guides-and-tutorials/learn/cors-in-email/?format=email]를 구현하고 AMP-Email-Allow-Sender HTTP 헤더를 올바르게 설정해야 합니다.
제한사항
다음은 추가 URL 제한사항을 설명합니다.
리디렉션
XHR URL은 HTTP 리디렉션을 사용하면 안 됩니다. 302 Found 또는 308 Permanent Redirect와 같은 리디렉션 클래스 (3XX 범위)의 상태 코드를 반환하는 요청은 실패하여 브라우저 콘솔 경고 메시지가 표시됩니다.
의견 보내기