Source URL: https://developers.google.com/maps/documentation/navigation/ios-sdk/dependencies-and-requirements?hl=ko
Title: 이전 출시의 종속 항목 및 요구사항

의견 보내기

이전 출시의 종속 항목 및 요구사항

컬렉션을 사용해 정리하기

내 환경설정을 기준으로 콘텐츠를 저장하고 분류하세요.

| SDK 버전 | 최소 iOS 배포 대상 | 최소 Xcode 버전 |
| --- | --- | --- |
| 9.0 | 15.x.x | 15.3.x |

의견 보내기